
{% extends "base.html" %} 

{% block content %}


    <section class="mb-6">
        <h2 class="text-xl mb-2">Welcome to my Azure Deployed Flask App (Test)!</h2>
        <p>This is an example of a healthcare application designed and deployed through Azure.</p>
    </section>

    <section>
        <h2 class="text-xl mb-2">All coding Information:</h2>
        <ul class="list-disc pl-5">
            <li>All coding information used in this Flask app could be found in my repo: angeliki-tzanou/azure_flask_deployment</li>
        </ul>
    </section>



{% endblock %}