{% extends "base.html" %} 

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>My Healthcare App</title>
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--Custom CSS (if any) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Hero Section -->
    <section class="hero text-black">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9">
                    <h1>Welcome to My Azure Deployed Flask App!</h1>
                    <p>(This is a simple example of a healthcare app structure)</p>
                </div>
                <div class="col-lg-6">
                   <!-- Added an image below-->
                    <img src="{{ url_for('static', filename='image.png') }}">

                </div>
            </div>
        </div>
    </section>

    <!-- Rest of your content goes here -->

</body>
</html>

{% endblock %}
